
<div class="content-body">
    <app-breadcrumb [breadcrumb]="breadcrumbList" [style2]="true"> </app-breadcrumb>
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Menu with icons</h4>
                    </div>
                    <div class="card-body">
                        <app-menu-with-icon></app-menu-with-icon>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Nested menu</h4>
                    </div>
                    <div class="card-body">
                        <app-nested-menu></app-nested-menu>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic menu</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-menu></app-basic-menu>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Menu positioning</h4>
                    </div>
                    <div class="card-body">
                        <app-menu-positioning></app-menu-positioning>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
