<div class="content-body default-height">
  <!-- Breadcrumb  -->
  <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>
  <div class="container-fluid">
    
        <app-account-overview-head></app-account-overview-head>

      <div class="tab-content" id="tabContentMyProfileBottom">
        <div class="row">
          <div class="col-xl-6">
            <div class="card">
              <div class="card-header">
                <h4 class="heading mb-0">Security Summary</h4>
              </div>
              <div class="card-body pb-0">
                <div class="row mb-2">
                  <div class="col-sm-4 col-6 mb-3">
                    <div class="bg-success-light rounded px-3 py-2 text-center">
                      <span class="fs-14 text-success">User Sign-in</span>
                      <h3 class="mb-0 fw-semibold">36,899</h3>
                    </div>
                  </div>
                  <div class="col-sm-4 col-6 mb-3">
                    <div class="bg-primary-light rounded px-3 py-2 text-center">
                      <span class="fs-14 text-primary">Admin Sign-in</span>
                      <h3 class="mb-0 fw-semibold">72</h3>
                    </div>
                  </div>
                  <div class="col-sm-4 col-6 mb-3">
                    <div class="bg-danger-light rounded px-3 py-2 text-center">
                      <span class="fs-14 text-danger">Failed Attempts</span>
                      <h3 class="mb-0 fw-semibold">291</h3>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <h4 class="heading mb-0">Activity Chart</h4>
                  <ul class="nav chart-summary-tab nav-pills" role="tablist">
                    <li class="nav-item ms-1">
                      <a class="nav-link btn btn-light active" data-series="agents" data-bs-toggle="tab" href="#summaryAgents" role="tab">Agents</a>
                    </li>
                    <li class="nav-item ms-1">
                      <a class="nav-link btn btn-light" data-series="clients" data-bs-toggle="tab" href="#summaryClients" role="tab">Clients</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="clearfix overflow-hidden">
                <app-bar-chart-apex  id="lineChartSecuritySummary" [chart_item]="lineChartSecuritySummary"></app-bar-chart-apex>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body p-4">
                    <owl-carousel-o [options]="customOptions" class="owl-theme card-carousel card-carousel-dots p-2" style="direction: ltr;">
                        @for(item of cardItems; track item){
                        <ng-template carouselSlide>
                            <div class="item">
                                <span class="fs-14 mb-4 d-block">{{ item.SubTitle}}</span>
                                <h6 class="mb-2">{{ item.title}}</h6>
                                <p class="mb-3">{{ item.desc}}</p>
                                <div class="d-flex justify-content-between pt-1">
                                  <span class="badge badge-sm border-0 badge-primary light">{{ item.time}}</span>
                                  <span class="badge badge-sm border-0 badge-light">Details</span>
                                </div>
                            </div>
                        </ng-template>
                        }
                    </owl-carousel-o>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card">
                  <div class="card-body p-4">
                    <owl-carousel-o [options]="customOptions" class="owl-theme card-carousel card-carousel-dots p-2" style="direction: ltr;">
                        @for(item of cardItems2; track item){
                        <ng-template carouselSlide>
                            <div class="item">
                                <span class="fs-14 mb-4 d-block">{{ item.SubTitle}}</span>
                                <h6 class="mb-2">{{ item.title}}</h6>
                                <p class="mb-3 pb-1">{{ item.desc}}</p>
                                <a href="javascript:void(0);" class="btn btn-primary light">Get Started</a>
                            </div>
                        </ng-template>
                        }
                    </owl-carousel-o>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card">
              <div class="card-body text-center p-3 pb-1">
                <div class="clearfix">
                  <h4>Upgrade to Pro <br> Create Limitless Deals </h4>
                  <p>Craft a headline that is both informative and will capture creating an outline, and checking facts</p>
                  <a href="javascript:void(0);" class="btn btn-primary">Upgrade Now</a>
                </div>
                <div class="pt-md-4">
                  <img class="view-light w-100" src="assets/images/upgrade-light.png" alt="">
                  <img class="view-dark w-100" src="assets/images/upgrade-dark.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header border-0 py-3">
                <h4 class="heading mb-0">License Usage</h4>
                <div class="clearfix d-flex align-items-center">
                    <app-dropdown [dropdown]="dropdown_item" class="mb-2 me-1"></app-dropdown>
                  <div id="licenseUsageExcelBTN"></div>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive active-projects dataTables_wrapper">
                  <table matSort class="table mb-0 table-striped-thead table-wide table-sm" id="tableLicenseUsage"  (matSortChange)="sortData($event)">
                    <thead>
                      <tr>
                        <th mat-sort-header="status">Status</th>
                        <th mat-sort-header="operator">Operator</th>
                        <th mat-sort-header="ip_address">IP Address</th>
                        <th mat-sort-header="created">Created</th>
                        <th mat-sort-header="api_keys">API Keys</th>
                      </tr>
                    </thead>
                    <tbody>
                        @for(item of allData.data; track item){
                        <tr>
                            <td>
                            <span class="badge badge-sm badge-{{ item.status_class }} light border-0">{{ item.status }}</span> 
                            </td>
                            <td class="text-nowrap">{{ item.operator }}</td>
                            <td>{{ item.ip_address }}</td>
                            <td class="text-nowrap">{{ item.created }}</td>
                            <td>
                            <div class="select-text-wrap d-flex justify-content-between">
                                <div class="text-select-copy">{{ item.api_keys }}</div>
                                <button class="btn-select-text btn p-0 border-0 ms-4">
                                <i class="las la-copy fs-4"></i>
                                </button>
                            </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="dataTables_info" id="example5_info" role="status" aria-live="polite">Showing {{page}} to {{totalRows}} of {{ allData.total }} entries</div>
                <div class="dataTables_paginate paging_simple_numbers">
                  <app-pagination [totalPage]="totalPage" [page]="page" (newPage)="pageChange($event)"></app-pagination>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>