<div class="content-body default-height">
  <!-- Breadcrumb  -->
  <app-breadcrumb [breadcrumb]="breadcrumbList" [style2]="true"></app-breadcrumb>

  <div class="container-fluid">
      <!-- row -->
      <div class="row">
        <div class="col-xl-12">

            <app-aikit-head [data]="headData"></app-aikit-head>

          <div class="card h-auto">
            <div class="card-header border-0 pb-0">
              <h4 class="heading mb-0">Auto Writer</h4>
               <app-dropdown [dropdown]="dropdown_item"></app-dropdown>
            </div>
            <div class="card-body pt-3">
              <div class="row">
                <div class="col-xl-2">
                  <p class="mb-2">Choose content type:</p>
                  <div class="btn-group d-block" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked>
                    <label class="btn btn-outline-primary form-label btn-sm rounded" for="btnradio1">Yes</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                    <label class="btn btn-outline-primary form-label btn-sm rounded ms-2" for="btnradio2">No</label>
                  </div>
                </div>
                <div class="col-xl-3">
                  <p class="mb-2">Default view:</p>
                  <div class="btn-group d-block" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" checked>
                    <label class="btn btn-outline-primary form-label btn-sm rounded" for="btnradio3">Collapsed</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4">
                    <label class="btn btn-outline-primary form-label btn-sm rounded ms-2" for="btnradio4">Expanded</label>
                  </div>
                </div>
                <div class="col-xl-7"></div>
                <div class="col-xl-4">
                  <label class="form-label">Chatbot model</label>
                  <div class="mb-3">
                    <app-select2 [items]="select2_chatbot_model"></app-select2>
                    <div id="emailHelp" class="form-text">For best results, please use chat models like gpt-3.5-turbo or gpt-4.</div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <label class="form-label">Show Chatbot on</label>
                  <div class="mb-3">
                    <app-select2 [items]="select2_chatbot_on"></app-select2>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Max response tokens</label>
                    <input type="number" class="form-control" placeholder="150">
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Prompt stop sequence
                                          </textarea>
                    <div id="emailHelp-1" class="form-text">Please set this only if you are using a fine-tuned model. Leave empty if you are using any of the built-in models. Completion stop sequence is used to mark the stop of the completion.</div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3">Completion stop sequence
                                          </textarea>
                    <div id="emailHelp-2" class="form-text">Please set this only if you are using a fine-tuned model. Leave empty if you are using any of the built-in models. Completion stop sequence is used to mark the stop of the completion.</div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea3" rows="5">Chatbot Context
                                          </textarea>
                    <div id="emailHelp-3" class="form-text">You can use this field to set the behaviour of the chatbot. For example, use something like "You are a helpful assistant." or "Answer in the style of Shakespeare."</div>
                  </div>
                  <label class="form-label">Show Chatbot only for user role</label>
                  <div class="mb-3">
                    <app-select2 [items]="select2_chatbot_user"></app-select2>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault"> Page content aware? </label>
                  </div>
                  <div id="emailHelp-4" class="form-text">If enabled, the chatbot will be able to use the content of the current page to generate better responses. Important: it will increase your API costs! </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <h4 class="heading">Create Repurpose Job</h4>
              <div class="row">
                <div class="col-xl-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label">Title</label>
                    <input type="text" class="form-control" placeholder="Chat with us">
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Input text placeholder</label>
                    <input type="text" class="form-control" placeholder="Input text placeholder">
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="mb-3">
                    <label for="exampleFormControlInput30" class="form-label">Start Message</label>
                    <input type="text" class="form-control" placeholder="Hi there! How can I help you?">
                  </div>
                </div>
                <div class="col-xl-12 mt-3">
                  <div class="check-ai mb-3">
                    <h4 class="heading">Width (px)</h4>
                    <mat-slider class="w-100" min="0" max="100">
                      <input [(ngModel)]="value" matSliderThumb>
                    </mat-slider>
                  </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                  <div class="example style-1">
                    <p class="mb-1">Main Color</p>
                    <div class="asColorPicker-trigger"  
                      [(colorPicker)]="colorList[0].value"
                      [cpOKButton] = "true"
                      [cpOKButtonText] = "'Select'"
                      [cpCancelButton] = "true"
                      [cpOutputFormat]="'hex'"
                      [cpPresetColors]="presetValues"
                      [cpAddColorButton]="true"  >
                      <span class="asColorPicker-trigger input-group-text" [style.background]="colorList[0].value"></span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                  <div class="example style-1">
                    <p class="mb-1">Title Color</p>
                    <div class="asColorPicker-trigger"  
                      [(colorPicker)]="colorList[1].value"
                      [cpOKButton] = "true"
                      [cpOKButtonText] = "'Select'"
                      [cpCancelButton] = "true"
                      [cpOutputFormat]="'hex'"
                      [cpPresetColors]="presetValues"
                      [cpAddColorButton]="true"  >
                      <span class="asColorPicker-trigger input-group-text" [style.background]="colorList[1].value"></span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                  <div class="example style-1">
                    <p class="mb-1">AI Message Bubble Color</p>
                    <div class="asColorPicker-trigger"  
                      [(colorPicker)]="colorList[2].value"
                      [cpOKButton] = "true"
                      [cpOKButtonText] = "'Select'"
                      [cpCancelButton] = "true"
                      [cpOutputFormat]="'hex'"
                      [cpPresetColors]="presetValues"
                      [cpAddColorButton]="true"  >
                      <span class="asColorPicker-trigger input-group-text" [style.background]="colorList[2].value"></span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                  <div class="example style-1">
                    <p class="mb-1">AI Message Text Color</p>
                    <div class="asColorPicker-trigger"  
                      [(colorPicker)]="colorList[3].value"
                      [cpOKButton] = "true"
                      [cpOKButtonText] = "'Select'"
                      [cpCancelButton] = "true"
                      [cpOutputFormat]="'hex'"
                      [cpPresetColors]="presetValues"
                      [cpAddColorButton]="true"  >
                      <span class="asColorPicker-trigger input-group-text" [style.background]="colorList[3].value"></span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                  <div class="example style-1">
                    <p class="mb-1">User Message Bubble Color</p>
                    <div class="asColorPicker-trigger"  
                      [(colorPicker)]="colorList[4].value"
                      [cpOKButton] = "true"
                      [cpOKButtonText] = "'Select'"
                      [cpCancelButton] = "true"
                      [cpOutputFormat]="'hex'"
                      [cpPresetColors]="presetValues"
                      [cpAddColorButton]="true"  >
                      <span class="asColorPicker-trigger input-group-text" [style.background]="colorList[4].value"></span>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                  <div class="example style-1">
                    <p class="mb-1">User Message Text Color</p>
                    <div class="asColorPicker-trigger"  
                      [(colorPicker)]="colorList[5].value"
                      [cpOKButton] = "true"
                      [cpOKButtonText] = "'Select'"
                      [cpCancelButton] = "true"
                      [cpOutputFormat]="'hex'"
                      [cpPresetColors]="presetValues"
                      [cpAddColorButton]="true"  >
                      <span class="asColorPicker-trigger input-group-text" [style.background]="colorList[5].value"></span>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary float-end mt-3">Save Settings</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>