<div class="content-body">
     <!-- Breadcrumb  -->
     <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3">
                <div class="card h-auto">
                    <div class="card-body">
                        <div class="c-profile text-center">
                            <img src="assets/images/user1.jpg" class="rounded-circle mb-2" alt="">
                            <h4>Thomas Fleming</h4>
                        </div>
                        <div class="c-details">
                            <ul>
                                <li>
                                    <span>Email</span>
                                    <p>demo123&#64;gmail.com</p>
                                </li>
                                <li>
                                    <span>Phone</span>
                                    <p>+91 12345647890</p>
                                </li>
                                <li>
                                    <span>Date of birth</span>
                                    <p>13 June 1996</p>
                                </li>
                                <li>
                                    <span>Position</span>
                                    <p>Computer Engineer</p>
                                </li>
                            </ul>
                        </div>
                        <span class="mt-3 d-block">Social</span>
                        <ul class="c-social">
                            <li><a href="javascript:void(0);" class="bg-facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);" class="bg-whatsapp"><i class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a href="javascript:void(0);" class="bg-linkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="javascript:void(0);" class="bg-skype"><i class="fa-brands fa-skype"></i></a></li>
                        </ul>
                        <div class="d-flex mt-4 justify-content-end">
                            <a href="javascript:void(0)" class="btn btn-danger btn-sm light me-2"><i class="fa-solid fa-trash me-1"></i>Delete</a>
                            <button type="button" class="modal-btn btn btn-primary btn-sm  ms-2 " data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                <i class="fa-solid fa-pen-to-square me-1"></i>
                                <span>Edit </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9">
                <h4 class="heading">Membership</h4>
                <div class="card h-auto">
                    <div class="card-body d-flex align-items-center justify-content-between flex-wrap">
                        <div class="d-flex align-items-center c-busiess">
                            <img src="assets/images/economics.png" class="avatar" alt="">
                            <div>
                                <h5 class="mb-0">Business board pro<span class="badge badge-danger badge-xs ms-1">Active</span></h5>
                                <span>Billing monthly | Next payment on 15/02/2023for$590.40</span>
                            </div>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="btn btn-danger btn-sm me-2">Cancel plan</a>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm ms-2">Update plan</a>
                        </div>
                    </div>
                </div>
                <div class="card h-auto">
                    <div class="card-header py-3">
                        <h4 class="heading mb-0">Payment History</h4>
                    </div>	
                    <div class="card-body p-0">
                        <div class="table-responsive active-projects style-1 dataTables_wrapper">
                            <table matSort (matSortChange)="sortData($event)" id="empoloyees-tbl" class="table">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="reference">REFERENCE</th>
                                        <th mat-sort-header="product">PRODUCT</th>
                                        <th mat-sort-header="status">STATUS</th>
                                        <th mat-sort-header="date">DATE</th>
                                        <th mat-sort-header="amount">AMOUNT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(item of allData.data; track item){
                                    <tr>
                                        <td><span>{{ item.reference }}</span></td>
                                        <td>
                                            <span>{{ item.product }}</span>
                                        </td>
                                        <td>
                                            @if(item.status == 'Pending'){
                                            <span class="badge badge-danger light border-0">{{item.status}}</span>
                                            } @else if(item.status == 'Completed') {
                                            <span class="badge badge-success light border-0">{{item.status}}</span>
                                            } @else {
                                            <span class="badge badge-primary light border-0">{{item.status}}</span>
                                            }
                                        <td>
                                            <span>{{ item.date }}</span>
                                        </td>
                                        <td>
                                            <span>{{ item.amount }}</span>
                                        </td>	
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="dataTables_info" id="example5_info" role="status" aria-live="polite">Showing {{page}} to
                                {{totalRows}} of {{ allData.total }} entries</div>
                            <div class="dataTables_paginate paging_simple_numbers pt-2">
                                <app-pagination [totalPage]="totalPage" [page]="page" (newPage)="pageChange($event)"></app-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-xxl-8">
                <div class="card">
                    <div class="card-header border-0">
                        <h4 class="heading mb-0">Payment Methods</h4>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                <img src="assets/images/credit.png" alt="" class="w-100">
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="c-card-details">
                                            <ul>
                                                <li>
                                                    <h6 class="me-1 mb-0">Name:</h6>
                                                    <span class="fs-13">Henry Saiplay</span>
                                                </li>
                                                <li>
                                                    <h6 class="me-1 mb-0">Number:</h6>
                                                    <span class="fs-13">1234 5678 9101 1213</span>
                                                </li>
                                                <li>
                                                    <h6 class="me-1 mb-0">Expires:</h6>
                                                    <span class="fs-13">11/2023</span>
                                                </li>
                                                <li>
                                                    <h6 class="me-1 mb-0">Type:</h6>
                                                    <span class="fs-13">Master Card</span>
                                                </li>
                                                <li>
                                                    <h6 class="me-1 mb-0">Issuer:</h6>
                                                    <span class="fs-13">IDBF</span>
                                                </li>
                                                <li>
                                                    <h6 class="mb-0 me-1">Id:</h6>
                                                    <span class="fs-13">1-85222gfgvv52</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="c-card-details">
                                            <ul>
                                                <li>
                                                    <h6 class="me-1 mb-0">Billing address:</h6>
                                                    <span class="fs-13">USA </span>
                                                </li>
                                                <li>
                                                    <h6 class="me-1 mb-0">Phone:</h6>
                                                    <span class="fs-13">+01 123 456 789 0</span>
                                                </li>
                                                <li>
                                                    <h6 class="me-1 mb-0">Email:</h6>
                                                    <span class="fs-13">demo&#64;gmail.com</span>
                                                </li>
                                                <li>
                                                    <h6 class="me-1 mb-0">Origin:</h6>
                                                    <span class="fs-13">Uk</span>
                                                </li>
                                                <li>
                                                    <h6 class="me-1 mb-0">CVC check:</h6>
                                                    <span class="fs-13">Done</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-xxl-4">
                <div class="card">
                    <div class="card-header border-0">
                        <h4 class="heading mb-0">Premium user</h4>
                    </div>
                    <div class="card-body pt-0">
                        <div class="c-work">
                            <div class="c-task bg-primary">
                                <p>Earnings<i class="fa-solid fa-arrow-down ms-2"></i></p>
                                <span>$50,585</span>
                            </div>
                            <div class="c-task bg-success">
                                <p>Project <i class="fa-solid fa-arrow-up ms-2"></i></p>
                                <span>415</span>
                            </div>
                            <div class="c-task bg-secondary">
                                <p>Hours <i class="fa-solid fa-arrow-up ms-2"></i></p>
                                <span>200</span>
                            </div>
                        </div>
                        <ul class="c-primium"> 
                            <li>
                                <h6>Account ID:</h6>
                                <span class="fs-13">#5-658A555c</span>
                            </li>
                            <li>
                                <h6>Billing Email:</h6>
                                <span class="fs-13">demo&#64;gmail.com</span>
                            </li>
                            <li>
                                <h6>Billing Address:</h6>
                                <span class="fs-13">Po.123 USA</span>
                            </li>
                            <li>
                                <h6>Language:</h6>
                                <span class="fs-13">English</span>
                            </li>
                            <li>
                                <h6>Tax ID:</h6>
                                <span class="fs-13">W3-52325</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>