<div class="content-body">
    <app-breadcrumb [breadcrumb]="breadcrumbList" [style2]="true"> </app-breadcrumb>
    <div class="container-fluid mh-auto">
        <div class="row">
            @for(item of productItems; track item ){
            <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body product-grid-card">
                        <div class="new-arrival-product">
                            <div class="new-arrivals-img-contnent">
                                <img class="img-fluid rounded" src="{{ item.img }}" alt="/">
                            </div>
                            <div class="new-arrival-content text-center mt-3">
                                <h4>{{ item.title }}</h4>
                                <ul class="star-rating">
                                  @for(starRow of [0, 1, 2, 3, 4]; track starRow; let i = $index;){
                                    @if((item?.rating || 0) > i){
                                      <li><i class="fa fa-star" [ngClass]="{'me-0': i === 4, 'me-1': i !== 4}"></i></li>
                                    } @else {
                                      <li><i class="fa-regular fa-star" [ngClass]="{'me-0': i === 4, 'me-1': i !== 4}"></i></li>
                                    }
                                  }
                                </ul>
                                <del class="discount">$159</del>
                                <span class="price">{{ item.price | currency }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
