<div class="content-body default-height">
  <!-- Breadcrumb  -->
  <app-breadcrumb [breadcrumb]="breadcrumbList" [style2]="true"></app-breadcrumb>

  <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">

            <app-aikit-head [data]="headData"></app-aikit-head>

          <div class="row">
            <div class="col-xl-4">
              <div class="card  h-auto overflow-hidden">
                <div class="card-header border-0 pb-0">
                  <h4 class="heading mb-0">Create Repurpose Job</h4>
                   <app-dropdown [dropdown]="dropdown_item"></app-dropdown>
                </div>
                <div class="card-body pb-0 pt-3">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">RSS URL</label>
                        <input type="text" class="form-control"  placeholder="https://yogacare.dexignzone.com/">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Time to wait between generating articles (minutes)</label>
                        <input type="number" class="form-control" id="exampleFormControlInput2" placeholder="30">
                      </div>
                      <label for="exampleFormControlInput2" class="form-label d-block">Post status</label>
                      <div class="mb-3">
                        <app-select2 [items]="select2_status"></app-select2>
                      </div>
                      <label class="form-label">Post type</label>
                      <div class="mb-3">
                        <app-select2 [items]="select2_post"></app-select2>
                      </div>
                      <label class="form-label">Post category</label>
                      <div class="mb-3">
                        <app-select2 [items]="select2_category"></app-select2>
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput003" class="form-label">Posts to generate</label>
                        <input type="number" class="form-control" id="exampleFormControlInput003" placeholder="1">
                      </div>
                      <label class="form-label">How often to check for new articles in RSS feed</label>
                      <div class="mb-3">
                        <app-select2 [items]="select2_rss"></app-select2>
                      </div>
                      <hr style="margin-left:-31px; margin-right:-31px;">
                      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="btncheck1">
                        <label class="btn btn-outline-primary btn-sm mb-0" for="btncheck1">Include featured image</label>
                      </div>
                      <hr style="margin-left:-31px; margin-right:-31px; margin-bottom:0;">
                    </div>
                  </div>
                </div>
                <div class="card-footer border-0">
                  <div class="text-center">
                    <a href="javascript:void(0);" class="btn btn-primary">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33301 9.16699C5.32213 9.16699 7.22979 9.95717 8.63631 11.3637C10.0428 12.7702 10.833 14.6779 10.833 16.667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3.33301 3.33301C6.86923 3.33301 10.2606 4.73777 12.7611 7.23825C15.2616 9.73874 16.6663 13.1301 16.6663 16.6663" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4.16634 16.6667C4.62658 16.6667 4.99967 16.2936 4.99967 15.8333C4.99967 15.3731 4.62658 15 4.16634 15C3.7061 15 3.33301 15.3731 3.33301 15.8333C3.33301 16.2936 3.7061 16.6667 4.16634 16.6667Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg> Add RSS Job </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="accordion">
                <div class="accordion-item">
                  <div class="accordion-header prompt-header rounded-lg" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne" aria-expanded="true" role="button">
                    <span class="accordion-header-icon"></span>
                    <span class="accordion-header-text fw-semibold">Prompts</span>
                    <span class="accordion-header-indicator"></span>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-one">
                    <div class="accordion-body-text p-3">
                      <div class="d-flex align-items-center mb-1">
                        <h6 class="mb-0">article-title:</h6>
                        <span class="badge badge-sm badge-danger light ms-1">description</span>
                        <span class="mx-1">,</span>
                        <span class="badge badge-sm badge-danger light">section-headlines</span>
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control bg-transparent" id="exampleFormControlTextarea1" rows="3">
 Generate a title for an article that discusses the following topic:
 [[description]]
 The article will include the following sections:
 [[section-headlines]]
 
 Title:
                                                   </textarea>
                      </div>
                      <div class="d-flex align-items-center mb-1">
                        <h6 class="mb-0">article-title:</h6>
                        <span class="badge badge-sm badge-danger light ms-1">description</span>
                        <span class="mx-1">,</span>
                        <span class="badge badge-sm badge-danger light">section-headlines</span>
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control bg-transparent" id="exampleFormControlTextarea2" rows="3">
 Generate a title for an article that discusses the following topic:
 [[description]]
 The article will include the following sections:
 [[section-headlines]]
 
 Title:
                                                   </textarea>
                      </div>
                      <div class="d-flex align-items-center mb-1">
                        <h6 class="mb-0">article-title:</h6>
                        <span class="badge badge-sm badge-danger light ms-1">description</span>
                        <span class="mx-1">,</span>
                        <span class="badge badge-sm badge-danger light">section-headlines</span>
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control bg-transparent" id="exampleFormControlTextarea3" rows="3">
 Generate a title for an article that discusses the following topic:
 [[description]]
 The article will include the following sections:
 [[section-headlines]]
 
 Title:
                                                   </textarea>
                      </div>
                      <div class="d-flex align-items-center mb-1">
                        <h6 class="mb-0">article-title:</h6>
                        <span class="badge badge-sm badge-danger light ms-1">description</span>
                        <span class="mx-1">,</span>
                        <span class="badge badge-sm badge-danger light">section-headlines</span>
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control bg-transparent" id="exampleFormControlTextarea4" rows="3">
 Generate a title for an article that discusses the following topic:
 [[description]]
 The article will include the following sections:
 [[section-headlines]]
 
 Title:
                                                   </textarea>
                      </div>
                      <div class="d-flex align-items-center mb-1">
                        <h6 class="mb-0">article-title:</h6>
                        <span class="badge badge-sm badge-danger light ms-1">description</span>
                        <span class="mx-1">,</span>
                        <span class="badge badge-sm badge-danger light">section-headlines</span>
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control bg-transparent" id="exampleFormControlTextarea5" rows="3">
 Generate a title for an article that discusses the following topic:
 [[description]]
 The article will include the following sections:
 [[section-headlines]]
 
 Title:
                                                   </textarea>
                      </div>
                      <div class="d-flex align-items-center mb-1">
                        <h6 class="mb-0">article-title:</h6>
                        <span class="badge badge-sm badge-danger light ms-1">description</span>
                        <span class="mx-1">,</span>
                        <span class="badge badge-sm badge-danger light">section-headlines</span>
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control bg-transparent" id="exampleFormControlTextarea6" rows="3">
 Generate a title for an article that discusses the following topic:
 [[description]]
 The article will include the following sections:
 [[section-headlines]]
 
 Title:
                                                   </textarea>
                      </div>
                      <div class="d-flex align-items-center mb-1">
                        <h6 class="mb-0">article-title:</h6>
                        <span class="badge badge-sm badge-danger light ms-1">description</span>
                        <span class="mx-1">,</span>
                        <span class="badge badge-sm badge-danger light">section-headlines</span>
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control bg-transparent" id="exampleFormControlTextarea10" rows="3">
 Generate a title for an article that discusses the following topic:
 [[description]]
 The article will include the following sections:
 [[section-headlines]]
 
 Title:
                                                   </textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>