<div class="content-body default-height">
  <!-- Breadcrumb  -->
  <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>
  <div class="container-fluid">

    <app-profile-overview-head></app-profile-overview-head>
    <div class="tab-content" id="tabContentMyProfileBottom">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">My Campaigns</h5>
            <div class="d-flex align-items-center">
              <a href="javascript:void(0)" class="btn btn-primary btn-sm ms-2">+ Add Campaign</a>
            </div>
          </div>
        </div>
          <div class="col-xl-3 col-sm-6">
            <div class="card overflow-hidden">
              <div class="card-body p-4">
                <div class="p-2">
                  <div class="d-flex justify-content-between mb-4">
                    <div class="d-flex align-items-center">
                      <div class="avatar avatar-md d-flex align-items-center justify-content-center">
                        <img src="assets/images/logo/large/twitch.png" width="35" alt="">
                      </div>
                      <span class="ms-3">Twitch Ads</span>
                    </div>
                    <button type="button" class="btn btn-light btn-icon-xxs tp-btn fs-18 align-self-start">
                      <i class="ti-view-grid"></i>
                    </button>
                  </div>
                  <h2 class="fw-semibold pt-1">$450.00</h2>
                  <p class="mb-0">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.83334 14.1668L14.1667 5.8335" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M5.83334 5.8335H14.1667V14.1668" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="text-success me-1">+32.40%</span> more spending
                  </p>
                </div>
              </div>
            </div>
          </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card overflow-hidden">
            <div class="card-body p-4">
              <div class="p-2">
                <div class="d-flex justify-content-between mb-4">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-md d-flex align-items-center justify-content-center">
                      <img src="assets/images/logo/large/twitter.png" width="35" alt="">
                    </div>
                    <span class="ms-3">Twitch Ads</span>
                  </div>
                  <button type="button" class="btn btn-light btn-icon-xxs tp-btn fs-18 align-self-start">
                    <i class="ti-view-grid"></i>
                  </button>
                </div>
                <h2 class="fw-semibold pt-1">750K</h2>
                <p class="mb-0">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.83334 14.1668L14.1667 5.8335" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5.83334 5.8335H14.1667V14.1668" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="text-success me-1">+8.80%</span> folowers growth
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card overflow-hidden">
            <div class="card-body p-4">
              <div class="p-2">
                <div class="d-flex justify-content-between mb-4">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-md d-flex align-items-center justify-content-center">
                      <img src="assets/images/logo/large/spotify.png" width="35" alt="">
                    </div>
                    <span class="ms-3">Spotify Listerners</span>
                  </div>
                  <button type="button" class="btn btn-light btn-icon-xxs tp-btn fs-18 align-self-start">
                    <i class="ti-view-grid"></i>
                  </button>
                </div>
                <h2 class="fw-semibold pt-1">1,125</h2>
                <p class="mb-0">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.1667 5.8335L5.83337 14.1668" stroke="var(--bs-danger)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M14.1667 14.1668H5.83337V5.8335" stroke="var(--bs-danger)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="text-danger me-1">-10%</span> less comments than usual
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card overflow-hidden">
            <div class="card-body p-4">
              <div class="p-2">
                <div class="d-flex justify-content-between mb-4">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-md d-flex align-items-center justify-content-center">
                      <img src="assets/images/logo/large/telegram.png" width="35" alt="">
                    </div>
                    <span class="ms-3">Telegram Posts</span>
                  </div>
                  <button type="button" class="btn btn-light btn-icon-xxs tp-btn fs-18 align-self-start">
                    <i class="ti-view-grid"></i>
                  </button>
                </div>
                <h2 class="fw-semibold pt-1">580</h2>
                <p class="mb-0">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.83334 14.1668L14.1667 5.8335" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5.83334 5.8335H14.1667V14.1668" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="text-success me-1">+25%</span> more spending
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card overflow-hidden">
            <div class="card-body p-4">
              <div class="p-2">
                <div class="d-flex justify-content-between mb-4">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-md d-flex align-items-center justify-content-center">
                      <img src="assets/images/logo/large/pinterest.png" width="35" alt="">
                    </div>
                    <span class="ms-3">Pintrest Posts</span>
                  </div>
                  <button type="button" class="btn btn-light btn-icon-xxs tp-btn fs-18 align-self-start">
                    <i class="ti-view-grid"></i>
                  </button>
                </div>
                <h2 class="fw-semibold pt-1">120</h2>
                <p class="mb-0">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.83334 14.1668L14.1667 5.8335" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5.83334 5.8335H14.1667V14.1668" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="text-success me-1">+58.32%</span> more posts
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card overflow-hidden">
            <div class="card-body p-4">
              <div class="p-2">
                <div class="d-flex justify-content-between mb-4">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-md d-flex align-items-center justify-content-center">
                      <img src="assets/images/logo/large/github.png" width="35" alt="">
                    </div>
                    <span class="ms-3">Github Contributes</span>
                  </div>
                  <button type="button" class="btn btn-light btn-icon-xxs tp-btn fs-18 align-self-start">
                    <i class="ti-view-grid"></i>
                  </button>
                </div>
                <h2 class="fw-semibold pt-1">2,250</h2>
                <p class="mb-0">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.1667 5.8335L5.83337 14.1668" stroke="var(--bs-danger)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M14.1667 14.1668H5.83337V5.8335" stroke="var(--bs-danger)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="text-danger me-1">-12.50%</span> less contributes than usual
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card overflow-hidden">
            <div class="card-body p-4">
              <div class="p-2">
                <div class="d-flex justify-content-between mb-4">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-md d-flex align-items-center justify-content-center">
                      <img src="assets/images/logo/large/youtube.png" width="35" alt="">
                    </div>
                    <span class="ms-3">Youtube Subscribers</span>
                  </div>
                  <button type="button" class="btn btn-light btn-icon-xxs tp-btn fs-18 align-self-start">
                    <i class="ti-view-grid"></i>
                  </button>
                </div>
                <h2 class="fw-semibold pt-1">350</h2>
                <p class="mb-0">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.83334 14.1668L14.1667 5.8335" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5.83334 5.8335H14.1667V14.1668" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="text-success me-1">+5.50%</span> subscribewrs growth
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card overflow-hidden">
            <div class="card-body p-4">
              <div class="p-2">
                <div class="d-flex justify-content-between mb-4">
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-md d-flex align-items-center justify-content-center">
                      <img src="assets/images/logo/large/reddit.png" width="35" alt="">
                    </div>
                    <span class="ms-3">Reddit Awards</span>
                  </div>
                  <button type="button" class="btn btn-light btn-icon-xxs tp-btn fs-18 align-self-start">
                    <i class="ti-view-grid"></i>
                  </button>
                </div>
                <h2 class="fw-semibold pt-1">1.5M</h2>
                <p class="mb-0">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.83334 14.1668L14.1667 5.8335" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5.83334 5.8335H14.1667V14.1668" stroke="var(--bs-success)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="text-success me-1">+5.52%</span> folowers growth
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
