<div class="content-body">
    <app-breadcrumb [breadcrumb]="breadcrumbList" [style2]="true"> </app-breadcrumb>
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic checkboxes</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-checkbox></app-basic-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Checkboxes with reactive forms</h4>
                    </div>
                    <div class="card-body">
                        <app-checkboxes-with-reactive-forms></app-checkboxes-with-reactive-forms>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Configurable checkbox</h4>
                    </div>
                    <div class="card-body">
                        <app-configurable-checkbox></app-configurable-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
