<div class="content-body">
    <!-- Breadcrumb  -->
    <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body p-0">
                        <!-- employees List -->
                        <app-employees-list [offset_limit]="10"></app-employees-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>